@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/*Basicamente, foi utilizado o @import, para anexar as fontes ao css*/



:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}


/*Foi utilizado o :root para adicionar variáveis ao CSS, representadas por "--"*/
    
* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

/*Foi utilizado margin e padding 0, e font-size: 1em*, para facilitar as futuras costumizações*/


html, body {
    height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}


/*Especificou o html (página toda), e o body. Utilizou min-height 100vh*, para melhor compatibilidade com os comandos de "vh"*/

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}


/*Utilizou "small-caps", uma forma diferente de deixar as letras em CAPSLOCK*/

header > p {
    padding-bottom: 30px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

/*Utilizou vw para que a fonte se adaptasse ao tamanho da tela, um exemplo bem simples seria dizer que ela teria 3.5% do tamanho da página, independente do tamanho da página*/

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

/*Efeito "parallax", basicamente foi utilizar o background-size: cover;, juntamente com o background-attachmente: fixed;.*/

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}